/*
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway');

$base_green : #49B56A;
$lighter_green : #52CC77;

$base_blue : #408598;
$pale_blue : #79aefe;
$dark_blue : #314190;

$dark_purple : #2d2366;
$light_purple : #8F61C1;

$base_grey : #3F4F4D;

body {
  background-color: $base_green;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.top-links-row {
  text-align: right;
  margin-right: 1%;
  margin-top: 1%;
}

.top-links-row h4 a {
  color: #eee;
}

input, textarea, select {
  color: #000;
  padding: 1%;
  width: 40%;
}

#user_remember_me {
  width: 2%;
}

@media screen and (max-width: 990px) {
  input, textarea {
    width: 80%;
  }
  #user_remember_me {
    width: 2%;
  }
}

.my-button-success {
  background-color: $dark_blue;
  border: 0px;
  height: 3em;
}

.my-button-success:hover {
  background-color: $dark_purple;
}

.transaction-block {
  background-color: $lighter_green;
  padding: 2%;
  margin-bottom: 2%;
}

.form-column {
  text-align: center;
}

.spending-button-home, .transactions-button-home, .new-transaction-button-home, .new-category-button-home {
  height: 30vh;
  text-align: center;
  padding-top: 10%;
}

.spending-button-home {
  background-color: $base_blue;
}
.spending-button-home:hover {
  background-color: #356F7E;
  cursor: pointer;
}

.transactions-button-home {
  background-color: $base_grey;
}
.transactions-button-home:hover {
  background-color: #2B3534;
  cursor: pointer;
}

.new-transaction-button-home {
  background-color: $lighter_green;
}
.new-transaction-button-home:hover {
  background-color: #388C52;
  cursor: pointer;
}

.new-category-button-home {
  background-color: $light_purple;
}
.new-category-button-home:hover {
  background-color: #7C54A7;
  cursor: pointer;
}

.centered-row {
  text-align: center;
}

.home-row a:link {
  color: #fff;
  text-decoration: none !important;
}

.red-text {
  color: red;
}
