<p>Welcome to uBudget!</p>
<p>You have successfully created an account using the email <%= @email %></p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my uBudget account', confirmation_url(@resource, confirmation_token: @token) %></p>
